<ion-header>

  <ion-navbar>
    <ion-title>{{ 'PROFILE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
<ion-list>
  <ion-item>
    <ion-avatar item-left>
      <img src="assets/img/ian-avatar.png">
    </ion-avatar>
    <h2>User</h2>
    <p>{{ 'YOU_DONATED_TOTALLY' | translate }} 10000 {{ 'MONEY_UNIT' | translate }}.</p>
  </ion-item>
</ion-list>
<ion-list>
  <ion-list-header>
    {{ 'HISTORY_LIST' | translate }}
  </ion-list-header>
  <ion-item *ngFor="let item of currentItems">
    <button ion-item (click)="openItem(item)">
      <ion-avatar item-left>
        <img [src]="item.profilePic" />
      </ion-avatar>
      <h2>{{item.name}}</h2>
      <p>{{item.about}}</p>
      <p><ion-badge item-right>{{item.count}}</ion-badge>{{ 'DONATIONS' | translate }}</p>
      <ion-note item-right *ngIf="item.note">{{item.note}}</ion-note>
    </button>
  </ion-item>
</ion-list>
</ion-content>
